In [1]:
from hmmlearn import hmm

In [2]:
import numpy as np

In [3]:
np.random.seed(42)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('step2/seattle-tacoma_all_parts', header=None)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,17716-000003b51af9,2015-03-07,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,17716-000003b51af9,2015-05-04,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,Talk,Talk
2,17716-000003b51af9,2015-03-28,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,17716-000003b51af9,2015-06-12,Talk,Talk,Comedy,Comedy,Comedy,Talk,Talk,Talk,...,-,Adventure,Adventure,-,-,-,-,-,-,-
4,17716-000003b51af9,2015-01-24,-,-,-,-,-,-,-,-,...,-,-,News,-,-,-,-,-,-,-

In [7]:
df = df.sort_values([0,1], ascending=True)

In [8]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97],
           dtype='int64')

In [9]:
df.drop([1], axis=1, inplace=True)

In [10]:
df2 = df.drop([0], axis=1)

In [11]:
df2.columns

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
            53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
            70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
            87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97],
           dtype='int64')

In [12]:
df2 = df2.astype('category')

In [13]:
df2 = df2.apply(lambda x: x.cat.codes)

In [14]:
df3 = pd.concat((df.iloc[:,:1],df2),axis=1)

In [15]:
df3.columns

Int64Index([ 0,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
            69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97],
           dtype='int64')

In [16]:
#adding shifts
X=df3.groupby([0]).apply(lambda x: x.iloc[:,2:].values.flatten())

In [17]:
indexer = np.arange(95)[None, :] + 1*np.arange(15675-94)[:, None]

In [18]:
X = X.apply(lambda x: pd.DataFrame(x[indexer]))

In [ ]:
X_list = []
for i in range(X.shape[0]):
    if(i % 500 == 0):
        print(i)
    X_list.append(X.values[i])
Big_Data = pd.concat(X_list)

0
500
1000
1500
2000
2500
3000

In [ ]:
#shuffling
df2 = Big_Data.sample(frac=1)

In [ ]:
df2.head()

In [ ]:
#train/test 80/20
import numpy as np
first_80 = int(0.8*df2.shape[0])
train = df2.iloc[:first_80,:]
test = df2.iloc[first_80:,:]

In [ ]:
train_200 = train.head(800000)

In [ ]:
train_200.head()

In [ ]:
test_200 = test.head(160000)

In [ ]:
model = hmm.MultinomialHMM(n_components=16, n_iter=10,algorithm = 'map', verbose=True)  # Viterbi is set by default as the 'algorithm' optional parameter.

In [ ]:
model.fit(train_200.T) #.to_numpy())

In [ ]:
model.emissionprob_

In [ ]:
import seaborn as sn
sn.set(rc={'figure.figsize':(11.7,8.27)})
np.set_printoptions(suppress=True)
sn.heatmap(model.emissionprob_,annot=True,cbar=False )

In [ ]:
#the posterior probability for the element before the last one
predict_states = model.predict_proba(np.array(test_200.iloc[:,-2]).reshape(-1,1))#drop(test_200.columns[-1],axis=1)

In [ ]:
predict_states.shape

In [ ]:
model.emissionprob_.shape

In [ ]:
#predict next item (the last one) for the element before the last one by multiplying the posterior probability matrix (160000x16) by matrix of probabilities to reach every real state from 16 hidden states (16x12)
next_items = np.dot(predict_states,np.array(model.emissionprob_))

In [ ]:
next_items.shape

In [ ]:
next_items.shape

In [ ]:
#choosing the element with the highest probability
next_items_argmax = np.zeros((test_200.shape[0], ))
j = 0
for row in (next_items): 
    next_items_argmax[j] = row.argmax()
    #print(row,j)
    #print(next_items_argmax[j])
    j=j+1
    if(j==test_200.shape[0]):
        break

In [ ]:
next_items_argmax

In [ ]:
np.count_nonzero(next_items_argmax)

In [ ]:
#the actual last item in the test set
actual_items = np.array(test_200.iloc[:,-1])

In [ ]:
actual_items.shape

In [ ]:
next_items.shape

In [ ]:
#calculating the precision (summing up the number of true predictions and dividing by the number of elements)
precision = np.sum(next_items_argmax == actual_items)/len(next_items)

In [ ]:
precision